/* ================= BASE ================= */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.3s ease;
}

/* Logo */
.navbar-logo {
  font-size: 28px;
  font-weight: 900;
  color: #222;
  text-transform: uppercase;
}
.navbar-logo span:last-child {
  color: #d16729;
}

/* Right Section */
.login-btn {
  padding: 8px 18px;
  color: #222;
  font-weight: 600;
  text-decoration: none;
  border-radius: 12px;
}
.login-btn:hover {
  color: #d16729;
}
.signup-btn {
  background: #d16729;
  color: #fff;
  padding: 8px 20px;
  border-radius: 12px;
  font-weight: 600;
}
.signup-btn:hover {
  background: #222;
  color: #fff;
}
.logout-btn {
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.logout-btn:hover {
  opacity: 0.9;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
  }

  .hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: #222;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger .bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger .bar.open:nth-child(2) {
    opacity: 0;
  }
  .hamburger .bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  /* Mobile menu */
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 40;
  }

  .mobile-link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  .mobile-link:hover {
    color: #d16729;
  }
  

  .login-btn-mobile {
    color: #222;
    background: transparent;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 8px;
    text-decoration: none;
  }

  .signup-btn-mobile {
    background: #d16729;
    color: white;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 6px;
  }

  .signup-btn-mobile:hover {
    background: #222;
  }
}
